body{
	background-color: lightgrey;
}
h1{ 
	color: #87ceeb; 
	font-family: Garamond,Baskerville,Baskerville Old Face,Hoefler Text,Times New Roman,serif; 
	font-size: 50px;"
}
h2{
	color: orange; 
	font-size: 38px;
}

.small{
	font-size: 12px;
}
.big{
	font-size: 72px;
}

span{
	font-style: italic;
}
<h2 style="color:blue; font-size: 35px";